/* all elements */

* {
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold!important;
    outline: none!important;
    box-sizing: border-box!important;
    border: 0px!important;
    text-decoration: none!important;
    font-style: normal!important;
}

i,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0em!important;
}


/* body */

body {
    background-color: #ee5676!important;
    /* color: #112233!important; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    justify-content: right;
    /* justify-content: space-between; */
    align-items: center;
    row-gap: 1em;
    width: 100vw;
    height: 100vh;
    margin: 0em!important;
    line-height: 1.5em;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    width: 100%;
    height: fit-content;
    color: #fff;
    background-color: #1e221d;
    flex-wrap: wrap;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: start;
    width: fit-content;
    height: fit-content;
    padding: 1em;
    gap: 1em;
    min-width: 15em;
    max-width: 25em;
}

.section>h2 {
    color: #ee5676;
}

.section>a {
    color: #fff;
}

.iconContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%!important;
    height: fit-content;
    gap: 1em;
}

.iconContainer>a {
    color: #fff;
    font-size: 1.3em;
}

.footer-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
    height: fit-content;
}

.footer-input {
    background-color: #fff;
    color: #1e221d;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 3em;
    padding: 1em;
}

.footer-submit {
    background-color: #ee5676;
    color: #fff;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 3em;
    padding: 1em;
}